body{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    border: none;
    color: white;
    padding: .5rem .8rem;
    border-radius: 25px;
}

button:hover{
    opacity: .7;
}

div.box{
    width: 100%;
    height: auto;
    overflow: hidden;
}

div.box:hover{
    opacity: .6;
    cursor: pointer;
}

div.box>img{
    width: 100%;
    height: 100%;
}

ul li{
    list-style-type: none;
}

/*Generic class*/
.color-primary-blue{
    color: #107ad1;
}

.color-primary-grey{
    color: #979797;
}

.bg-secondary-blue{
    background-color: #2d64e6;
}

.bg-buy{
    background-color: #cd3d0f; 
}

/*For lens in nav bar*/
.icon{
    width: 35px;
    cursor: pointer;
}

.icon:hover{
    opacity: .6;
}

.my_border_bottom{
    border-bottom: 3px solid #2d64e6;
}

/*Remove default icon at the dropdown*/
.dropdown-toggle::after {
    border: none!important;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f107"!important; /* the desired FontAwesome icon */
    vertical-align: 0; /* to center vertically */
    opacity: .5;
}

/* For border card in section card_game, non funziona
.border_card{
    border: 3px solid blue;
    padding: 2px;
    border-radius: 20px;
}
*/
/*
                                                        HEADER
*/

section#header_brand{
    height: 2.5rem;
}

/*
                                                        MAIN
*/


/*                                      Start Section Jumbotron
*/

/*formatting Background image */
section#jumbotron{
    background-image: url('../img/jumbo-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 31rem;
    margin-top: 95px;
}


/* END SECTION JUMBOTRON
--------------------------------------------------------------------------------------------------------------*/


/*                                      Start Section Game Preview
*/
section#game_preview{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10rem;
}

section#game_preview div.my_wrapper{
    margin-top: -8rem;
}


/* END SECTION Game Preview
-----------------------------------------------------------------------------------------------------------------*/


 
/*                                      Start Section PlayStation Plus
*/
/*Background color for section, playstation plus*/
section#playstation_plus{
    background-color: #bebcbb;
}

/*background color for button*/
section#playstation_plus button{
    background-color: #d9dadc;
}

/*Width for logo playStation plus*/
section#playstation_plus img{
    width: 300px;
}

 
/* END SECTION PlayStation plus
-------------------------------------------------------------------------------------------------------------------
*/

/*                                      Start Section PlayStation Plus
*/
/*Hover on image*/
section#news_playstation_store div.col-12:hover img{
    opacity: .7;
    cursor: pointer;
}

/* END SECTION PlayStation plus
-------------------------------------------------------------------------------------------------------------------
*/

/*                                      Start Section PlayStation Now
*/

section#playstation_now{
    background-color: #161c3b;
}

section#playstation_now img{
    width: 300px;
}


/* END SECTION PlayStation Now
-------------------------------------------------------------------------------------------------------------------
*/

/*
                                                        FOOTER
*/


footer{
    background-color: #00439c;
}

footer p img{
    width: 20px;
}


footer div img.sony_logo{
    width: 200px;
}

footer ul a{
    color: white;
    text-decoration: none;
}

footer ul a:hover{
    color: rgb(182, 182, 61);
}