body{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    border: none;
    color: white;
    padding: .5rem .8rem;
    border-radius: 25px;
}

div.box{
    width: 100%;
    height: 10rem;
    overflow: hidden;
}

div.box>img{
    width: 100%;
    height: 100%;
}

/*Generic class*/
.color-primary-blue{
    color: #107ad1;
}

.color-primary-grey{
    color: #979797;
}

.bg-secondary-blue{
    background-color: #2d64e6;
}

/*For lens in nav bar*/
.icon{
    width: 35px;
}

.my_border_bottom{
    border-bottom: 3px solid #2d64e6;
}





/*
                                                        HEADER
*/

/*Section Header Brand*/
section#header_brand{
    height: 2.5rem;
}

/*
                                                        MAIN
*/

/* 
START SECTION JUMBOTRON
*/

/*formatting Background image */
section#jumbotron{
    background-image: url('../img/jumbo-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 31rem;
    margin-top: 95px;
}

/*Background color for button*/
section#jumbotron button{
    background-color: #cd3d0f;
}
/*Background color in hover, for button*/
section#jumbotron button:hover{
    background-color: #791c25;
}
/* 
END SECTION JUMBOTRON
-------------------------------------------------------------------------------------------------------------------
*/

/* 
START SECTION PLAYSTATION 5
*/
section#playstation_5 button:hover{
    background-color: #1f4aad;
}

section#playstation_5 div.box{
    height: auto;
}

/* 
END SECTION PLAYSTATION 5
-------------------------------------------------------------------------------------------------------------------
*/

/* 
START SECTION Game Preview
*/
section#game_preview{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10rem;
}

section#game_preview div.my_wrapper{
    margin-top: -8rem;
}

/*Background color for button*/
section#game_preview button{
    background-color: #cd3d0f;
}

/*Background color in hover, for button*/
section#game_preview button:hover{
    background-color: #791c25;
}

/* 
END SECTION Game Preview
-------------------------------------------------------------------------------------------------------------------
*/

/* 
START SECTION New Release
*/
section#new_release div.box{
    height: 17rem;
}

/* 
END SECTION New Release
-------------------------------------------------------------------------------------------------------------------
*/

/* 
START SECTION PlayStation 4
*/

section#playstation_4 div.box{
    height: 18rem;
}

section#playstation_4 button:hover{
    background-color: #1c3f91;
}

/* 
END SECTION PlayStation 4
-------------------------------------------------------------------------------------------------------------------
*/

/* 
START SECTION PlayStation Plus
*/
/*Background color for section, playstation plus*/
section#playstation_plus{
    background-color: #bebcbb;
}

/*background color for button*/
section#playstation_plus button{
    background-color: #d9dadc;
}

/*background color for button in hover*/
section#playstation_plus button:hover{
    background-color: #97989b;
}

/*Width for logo playStation plus*/
section#playstation_plus img{
    width: 300px;
}

/* 
END SECTION PlayStation plus
-------------------------------------------------------------------------------------------------------------------
*/

/* 
START SECTION PlayStation Now
*/

section#playstation_now{
    background-color: #161c3b;
}

section#playstation_now img{
    width: 300px;
}

section#playstation_now button{
    background-color: white;
}

section#playstation_now button:hover{
    background-color: rgb(207, 205, 205);
}

/* 
END SECTION PlayStation Now
-------------------------------------------------------------------------------------------------------------------
*/

/* 
START SECTION PlayStation Now
*/

section#social div.box{
    width: 150px;
    height: auto;
}

section#social div.box:hover{
    opacity: .4;
    cursor: pointer;
}
/* 
END SECTION Social
-------------------------------------------------------------------------------------------------------------------
*/

/*
                                                        FOOTER
*/


footer{
    background-color: #00439c;
}

footer p img{
    width: 20px;
}


footer ul li{
    list-style: none;
}

footer div img.sony_logo{
    width: 200px;
}

footer ul a{
    color: white;
    text-decoration: none;
}

footer ul a:hover{
    color: rgb(182, 182, 61);
}